@inject HttpClient Http
@using wasmSample.Shared
@inject Bar sidebar;


<BarToggler Bar="@sidebar">
    <BarIcon IconName="IconName.Bars" />
</BarToggler>
<Bar @ref="@sidebar" Mode="BarMode.VerticalInline" Breakpoint="Breakpoint.Desktop" Background="Background.Light" ThemeContrast="ThemeContrast.Light">
    @foreach (var produto in dadosProdutos)
    {
        <BarItem><CartItem produto="@produto"></CartItem></BarItem>
    }
</Bar>

<div style="text-align:center">
    <div id="grid" class="grid">
        @foreach (var produto in dadosProdutos){
            <ProductCatalog produto="@produto" shoppingCart="@shoppingCart" />
        }
    </div>
</div>

@code {
    private Produto[] dadosProdutos = new Produto[] { };
    private ShoppingCart shoppingCart = new ShoppingCart("comprador 1");

    protected override async Task OnInitializedAsync()
    {
        dadosProdutos = await Http.GetFromJsonAsync<Produto[]>("mock_data/listaProdutos.json");
    }

}
